@import url('https://fonts.googleapis.com/css?family=Rosario:400,400i,700&display=swap&subset=latin-ext');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit;}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Begin site styles... */

/*Base Styles*/
html {
  background-color: #FFFFFF;
  font-family: "Rosario", Helvetica, Arial, sans-serif;
  font-size: 1.125em;
  line-height: 1.222222222em;
  padding: 1.2222222222em 1.8333333333em;
}

h1 {
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.125em;
  padding-bottom: 0.08em;
  padding-top: .08em;
}

h2 {
  font-size: 1.25em;
  font-weight: 300;
  line-height: 1.125em;
  padding: .38em;
  padding-bottom: .10em;
}

p {
  color: #FFF;
  font-weight: 400;
  margin-top: 1em;
  padding: .85em;
  padding-bottom: 1.22em;
}

/* Navigation Styles */
.nav a {
  background: #000000;
  border: 1px solid #000000;
  color: #FFFFFF;
  display: block;
  line-height: 0;
  margin-bottom: 6px;
  padding: 18px;
  text-decoration: none;
}
#portfolio-page #nav-portfolio,
#home-page #nav-home,
#resume-page #nav-resume,
.nav a:hover,
.nav a:active,
.nav a:focus {
  background: #FFFFFF;
  color: #000000;
}
/* Resume Styles */
#resume-page h2 {
  font-weight: 800;
}
#resume-page h3 {
  font-weight: bold;
}
#resume-page h4 {
  position: absolute;
  left: -10000px;
}
.details li,
.responsibilities li {
  padding-left: 1em;
}

/* Portfolio Styles */
#portfolio-page h2 {
  color: #956178;
  font-size: 0.83333333325em; /*3.333333333/4 = 0.83333333325‬‬em*/
  font-weight: 500;
  line-height: 1.125em;
  margin-left: -0.8em;
  padding-bottom: .50em;
  padding-top: 1em;
  text-transform: uppercase;
}

/* Responsive Media */
img {
  display: block;
  max-width: 100%;
}

.photo figcaption {
  position: absolute;
  left: -10000px;
}

.photo img {
  border-radius: 0.3055555556em;
  padding-bottom: 2em;
}

#portfolio-page img {
  background-color: #000000;
  display: block;
  max-width: 100%;
}

/* Layout*/

/*Modular Styles*/

.information {
  list-style-type: none;
}
.information li {
  background: #000000;
  border: 1px solid #000000;
  border-radius: 0.3055555556em;
  color: #FFF;
  margin-bottom: 0.6111111111em;
  padding:0;
}
.information h2 {
  color: #FFF;
  display: block;
  font-weight: bold;
  margin-bottom: 0.6111111111em;
}
.information p {
  font-size: 0.8em;
  padding-bottom: 1em;
}
.skills li {
  padding-left: .60em;
}

.tagline {
  color: #956178;
  font-size: 0.83333333325em; /*3.333333333/4 = 0.83333333325‬‬em*/
  font-weight: 500;
  line-height: 1.125em;
  margin-left: -0.8em;
  padding-bottom: .50em;
  padding-top: 1em;
  text-transform: uppercase;
}
/* State Styles*/

/* 200px = 200/16 = 12.5em*/
@media screen and (min-width: 12.5em) {
  h1 {
    font-size: 1.25em;
  }
  h2 {
    font-size: 1.15em;
  }

  #portfolio-page h2 {
    padding-left: .8em;
  }
  #portfolio-page h3 {
    font-size: 1em;
  }
  #resume-page h3 {
    padding-left: .5em;
    padding-top: .5em;
  }
  .information ul {
    font-size: .8em;
  }
  .responsibilities li {
    padding-top: 1em;
  }
  p.tagline, #portfolio-page h2 {
    margin-top:-.75em;
    margin-bottom: 1em;
  }
}

/* 500px ||500/16 = 31.25em*/
@media screen and (min-width: 500px) {
  html {
    padding: 1.2222222222em 5.1111111%;
  }
  h1 {
    font-size: 2.0em;
  }
  h2 {
    font-size: 1.5em;
  }
  .tagline, #portfolio-page h2 {
    font-size: 1.25em;
  }

  .information {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .information li {
    margin-left: 0.30555555556em;
    margin-right: 0.30555555556em;
  }
  #resume-page h2 {
    padding-top: 2em;
  }
}

@media screen and (min-width: 650px) {
  header {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #home-page h1, .tagline {
    grid-column-start: 1;
    grid-row-end: 2;
  }
  #resume-page header {
    background-color: #000000;
  }
  #resume-page h1 {
    color: #FFFFFF;
    grid-column-start: 1;
    grid-row-end: 2;
    padding-left: .25em;
  }
  #resume-page p.tagline {
    color: #956178;
    margin-left: -0.4em;
    margin-bottom: -.1em;
  }
  #resume-page h2 {
    margin-top: -1em;
  }
  #resume-page .nav {
    padding-top: 1.43em;
  }
  #resume-page .responsibilities {
    color: #956178;
    line-height: 1em;
    list-style-type: disc;
    padding-left: 4em;
  }
  #resume-page .details {
    padding-bottom: .5em;
  }
  #resume-page h3, .details li {
    padding-left: 3em;
  }
  #resume-page h3 {
    padding-top: 1em;
  }
  #portfolio-page h3 {
    font-size: 1.5em;
    padding-top: 1em;
  }
  .photo {
    grid-column-start: 2;
    grid-row-end: 2;
  }
  .nav {
    display: flex;
    flex-flow: row nowrap;
    margin-left: -6px;
    margin-right: 6px;

  }
  .nav li {
    flex: 1 0 auto;
    margin-left: 12px;
  }
  .nav a {
    border-radius: 6px;
  }
  p.tagline  {
    padding-top: 3em;
  }
}
/*950px || 950/16 = 59.375em*/
@media screen and (min-width: 59.375em) {
  h1 {
    font-size: 2.85em;
  }
  h2 {
    font-size: 2.5em;
  }
  #portfolio-page h2 {
    font-size: 1.45em;
    padding-bottom: 1.5em;
  }

  #portfolio-page h3 {
    font-size: 1.5em;
  }
  #resume-page h2 {
    font-weight: 800;
    padding-top: 1.5em;
  }
  #resume-page h3 {
    font-size: 1.2em;
    padding-left: 2.5em;
  }
  p.tagline {
    font-size: 1.45em;
    padding-top: 3.5em;
    padding-bottom: 1.5em;
  }
  .information p {
    font-size: 1.00em;
    line-height: 1.35em;
  }
  .information ul {
    font-size: 1.00em;
    line-height: 1.35em;
  }
}
